body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* header */
.studio_header {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

/* telimail */
.font_style_adrs {
  font-style: normal;
}

.link-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-adress:hover,
.link-adress:focus {
  color: #404bbf;
}

/* section-1 */
.background {
  background-color: #2e2f42;
}
.solutions {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
/* button */
.btn {
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* section-2 */
.title {
  text-align: center;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.list_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text_title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section 3 our team */
.item_list {
  background-color: #ffffff;
}

.fone {
  background-color: #f4f4fd;
}
/* section 4 */

/* footer */

.bgrnd_footer {
  background-color: #2e2f42;
}
/* logo */

.logo_footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio_footer {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer_text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
